
<body dir="rtl">
        <button type="button" class="btn btn-home-page btn-danger " routerLink="/newMail" routerLinkActive="active">    הודעה חדשה   <img class="big-img" src="assets/images/newMail.jpg"></button>          <button routerLink="/settings" routerLinkActive="active">הגדרות</button><br>
        <button class="btn btn-outline-danger btn-home-page" (click)="getAllSendsMails()">  נשלח <img class="big-img" src="assets/images/אני.jpg"><img class="big-img" src="assets/images/send.jpg"></button><br>
            <button class="btn btn-outline-danger btn-home-page" (click)="getAllOutMails()">   יוצא <img class="big-img" src="assets/images/they.jpg"><img class="big-img" src="assets/images/send.jpg"></button>
   
    <table>
        <tr>
        </tr>
        <tr>
            <td><button class="btn btn-outline-danger btn-home-page2"><img src="assets/images/symbol.jpg" class="small-img"><br>סמל</button>&nbsp;&nbsp;
                <button class="btn btn-outline-danger btn-home-page2"><img src="assets/images/word.jpg" class="small-img"><br>מילה</button>תוכן ההודעה</td>
            
        </tr>
    </table>
</body>
